html,
body {
  margin: 0;
  padding: 0;
}

.app {
  height: 100vh;
  width: 100vw;
}

.prompt-container {
  align-items: center;
}

.prompt-text {
  display: flex;
  justify-content: center;
}

.buttons {
  display: flex;
  justify-content: center;
}

.shape {
  background-color: red;
}

#button-area {
  display: flex;
  justify-content: space-between;
}

.square-button {
  display: flex;
  align-items: center;
  justify-content: center;
}