.title-text {
  display: flex;
  justify-content: center;
  font-size: large;
}

.app-buttons {
  display: flex;
  justify-content: space-evenly
}

.time {
  display: flex;
  justify-content: right;
  margin-right: 30px;
}